.himage{
    background-image: url("../images/bg/h_img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .simage{
    background-image: url("../images/bg/s_image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .box{
    padding: 25px;
  }
  .cimage{
    background-image: url("../images/bg/c_image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .form-control{
    background: transparent;
  }
  .form-row ::placeholder {
    color:white;
  }
  .form-group ::placeholder {
    color:white;
  }
  .mouse_icon{
    position: absolute;
    bottom: 10px;
  }
  .hover-item {
    transition: 0.3s;
  }
  .hover-item:hover {
    transform: translate(0, -10px);
  }
  .fa:hover {
    opacity: 0.7;
  }
  .des-hide, .dev-hide, .prod-hide{
    display: none;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
    display: none;
    padding-top: 20%;
    font-size: 50px;
  }